/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/*
Arc-Dark Color Scheme
*/
@define-color highlight #5294e2;
@define-color base1  #3E3F67;
@define-color base2 #C8046A;

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 1px;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: transparent;
    color: #bebebe;
    background-color: @base1;
    font-family: VictorMono Nerd Font;
    font-size: 14px;
}


/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */
#clock {
    padding-left: 10px;
}

#cpu {
    padding-left: 10px;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}


#idle_inhibitor {
    padding-left: 10px;
}
#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding-left: 10px;
}

#memory.warning {
    color: orange;
 }

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: @highlight;
    border-bottom: 3px transparent;
    color:white;
    margin-left: 5px;
    padding:7px;
}

#network {
    padding-left: 10px;
}

#network.disconnected {
    color: orange;
}

#wireplumber {
    padding-left:6px;
    padding-right:6px;
}

#wireplumber.muted {
    color: @highlight;
}

#temperature.critical {
    color: red;
}

#window {
    font-weight: bold;
}

#workspaces {
    font-size:16px;
}

#workspaces button {
    border-bottom: 3px solid transparent;
    margin-bottom: 0px;
    padding-left:3px;
}

#workspaces button.focused {
    border-bottom: 3px solid  @highlight;
    margin-bottom: 1px;
    padding-left: 3px;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#custom-power {
    margin-left:15px;
    margin-right:15px;
    font-size:15px;
}

#custom-launcher {
    font-size:15px;
    margin-left:15px;
    margin-right:10px;
}



#mpd {
   background-image: linear-gradient(to right, @base1,@base2, @base1);
    font-size: 12px;
   color: #FFFFFF;
}
     
#mpd.disconnected {
   background-color: #2d5986;
}

#mpd.stopped {
   background-color: #2d5986;
}

#mpd.paused {
   background-color: #2d5986;
}
